
header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}


.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}



/*  ############## CTA ############## */

.cta{
    margin-top: 2.3rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/*  ############## SOCIALS ############## */

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.hide1{
    display: none;
}
.hide2{
    display: none;
    margin-top: 2.1rem;
}
.hide3{
    display: none;
    margin-top: 4.7rem;
}
.hide4{
    display: none;
    margin-top: 7.2rem;
}

.linkedin:hover{
    transform: scale(1.5);
}
.github:hover{
    transform: scale(1.5);
}
.instagram:hover{
    transform: scale(1.5);
}
.telegram:hover{
    transform: scale(1.5);
}

.linkedin:hover + .hide1{
    display: block;
    transform: scale(1.5);
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 1.7rem;
}

.github:hover +.hide2{
    display: block;
    transform: scale(1.6);
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 1.7rem;
}
.instagram:hover +.hide3{
    display: block;
    transform: scale(1.6);
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 2.1rem;
}
.telegram:hover +.hide4{
    display: block;
    transform: scale(1.6);
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 2.0rem;
}


/*  ############## ME ############## */

.me{
    /* background:linear-gradient(var(--color-primary),transparent); */
    width: 20rem;
    height: 100%;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: 1rem;
    border-radius: 11rem 11rem 1.5rem 1.5rem;
    overflow: hidden;
    padding: 5rem 1.5rem;
    
    
}
.me img {
    border-radius: 1rem;
    overflow: hidden;
    /* transform: rotate(0); */
    /* transition: var(--transition); */
  }

/* .me:hover{
    transform: scale(1.25);
} */

/* ##################### SCROLL DOWN  #################*/

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}

/* ###############   MEDIA QUERIES (MEDIUM DEVICES) ###################### */

@media  screen and (max-width: 1024px){
  header{
    height: 70vh;
  }
}



/* ###############   MEDIA QUERIES (SMALL DEVICES) ###################### */

@media  screen and (max-width: 600px){
  header{ 
    height: 100vh;
}
 .scroll_down{
    display:none;
}
.me{
    width: 13rem;
}
}